<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Projek Matematika Dasar</h1>
    <div class="flex-container">
        <div>
            <form action="/integral-tak-tentu" method="POST">
                <input type="submit" value="Integral tak tentu">
            </form>
        </div>
        <div>
            <form action="/integral-tentu" method="POST">
                <input type="submit" value="Integral tentu">
            </form>
        </div>
        <div>
            <form action="/turunan" method="POST">
                <input type="submit" value="Turunan">
            </form>
        </div>
    </div>
</body>
</html>
